# Ignore the secret variables vault
terraform.tfvars
**/.env
modules/compute_server/config/.env

# Ignore local Terraform state and history files
.terraform/
*.tfstate
*.tfstate.*
*.tfstate.backup

# Ignore local IDE settings
.idea/

# Kubernetes Secrets, Temporary Scratchpads, and Backups
k8s/secrets.yaml
k8s/history_dump.txt
k8s/wordpress-ingress.yaml
k8s/wordpress-mysql.yaml
wordpress-service-backup.yaml
wp-config.php
