[defaults]
# Tells Ansible where to look for your list of servers
inventory = inventory.ini

# Uses the standard SSH protocol to connect to your instances
transport = ssh

# Don't check the server's SSH key fingerprint against ~/.ssh/known_hosts (speeds up testing on new VMs)
host_key_checking = False

# Keeps your terminal output clean and readable
stdout_callback = yaml